[Unit]
Description=Stargz Store service for Podman

[Service]
# This pipes stargz-store's IO to the shell otherwise they are lost and can't be managed by systemd.
# TODO: fix this and do not use pipe
ExecStart=/bin/bash -c "podman unshare stargz-store --log-level=debug --root %h/.local/share/stargz-store/data --addr %h/.local/share/stargz-store/store.sock %h/.local/share/stargz-store/store 2>&1 | cat"
ExecStopPost=podman unshare umount %h/.local/share/stargz-store/store

[Install]
WantedBy=default.target
