# Content Verification in eStargz

Moved to [`/docs/estargz.md`](/docs/estargz.md).
